
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 282 30% 6%;
    --foreground: 0 0% 100%;
    --card: 282 30% 8%;
    --card-foreground: 0 0% 100%;
    --popover: 282 30% 6%;
    --popover-foreground: 0 0% 100%;
    --primary: 265 100% 63%;
    --primary-foreground: 0 0% 100%;
    --secondary: 265 20% 15%;
    --secondary-foreground: 0 0% 100%;
    --muted: 265 20% 12%;
    --muted-foreground: 265 10% 60%;
    --accent: 240 100% 77%;
    --accent-foreground: 240 10% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 265 20% 15%;
    --input: 265 20% 15%;
    --ring: 265 100% 63%;
    --radius: 0.75rem;
    --sidebar-background: 282 30% 6%;
    --sidebar-foreground: 240 5.3% 85%;
    --sidebar-primary: 265 100% 63%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 265 20% 15%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 265 20% 15%;
    --sidebar-ring: 265 100% 63%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline tracking-tight;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
